@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
/* ---------------------------------------------------------------
	base
--------------------------------------------------------------- */

body,div,dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,code,p,blockquote,th,td,
form,fieldset,legend {
	margin: 0;
	padding: 0;
}

section,nav,article,aside,hgroup,
header,footer,figure,figcaption,details {
	display: block;
}

html, body {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	min-width: 440px;
	min-height: 700px;
	overflow: visible;
	line-height: 1.618;
	background: url(../img/bg.png);
	color: #000305;
	font-family: Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	font-size: 12px;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 1em;
}

li {
	list-style: none;
}

img {
	border: 0;
	vertical-align: bottom;
}

*:after {
	display: block;
	clear: both;
}

/* ---------------------------------------------------------------
	anchors
--------------------------------------------------------------- */

a:link,
a:visited {
	color: #999;
}

a:hover,
a:active {
	color: #CCC;
}

/* ---------------------------------------------------------------
	layout
--------------------------------------------------------------- */

#loader-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	text-align: center;
	-webkit-animation: fadeOut .2s linear 3s forwards;
}

#loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	margin: -10px 0 0 -10px;
	border-radius: 50%;
	border: 5px solid rgba(0,0,0,.75);
	border-right-color: transparent;
	-webkit-animation: spin 1s linear infinite;
}

#glob {
	position: relative;
	width: 100%;
	height: 100%;
	min-width: 440px;
	min-height: 700px;
	overflow: hidden;
}

header {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	text-align: center;
}

header > h1 {
	margin-top: 20%;
	-webkit-animation: bounceInDown 1s ease-in-out 3s both;
}

#glob:target > header > h1 {
	-webkit-animation-delay: 0;
}

#menu {
	margin-top: 50px;
}

#menu li {
	display: inline-block;
	width: 70px;
	height: 70px;
	line-height: 70px;
	margin: 0 20px;
}

#menu li a {
	color: #fff;
	font-family: "Droid Sans", sans-serif;
	text-decoration: none;
	text-shadow: 1px 1px rgba(0,0,0,.2);
}

.btn {
	display: block;
	border-radius: 50%;
	background: rgba(0,0,0,.75);
	-webkit-animation: bounceInUp 1s ease-in-out both;
}

#nav01 {
	-webkit-animation-delay: 3.2s;
}

#nav02 {
	-webkit-animation-delay: 3.4s;
}

#nav03 {
	-webkit-animation-delay: 3.6s;
}

#nav04 {
	-webkit-animation-delay: 3.8s;
}

#glob:target #nav01 {
	-webkit-animation-delay: .2s;
}

#glob:target #nav02 {
	-webkit-animation-delay: .4s;
}

#glob:target #nav03 {
	-webkit-animation-delay: .6s;
}

#glob:target #nav04 {
	-webkit-animation-delay: .8s;
}

footer {
	position: absolute;
	bottom: 0;
	z-index: 99;
	width: 100%;
	height: 64px;
	line-height: 64px;
}

footer > div {
	position: relative;
	width: 95%;
	margin: 0 auto;
}

footer small {
	font-family: "Droid Sans", sans-serif;
	font-size: 100%;
}

.fb-like {
	position: absolute !important;
	top: 0;
	right: 0;
}

/* ---------------------------------------------------------------
	content
--------------------------------------------------------------- */

.panel {
	position: absolute;
	z-index: 1;
	min-width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	opacity: 0;
}

.panel:target {
	z-index: 3;
	-webkit-animation: bounceInUp 1s ease-in-out .6s forwards;
}

.panel:target ~ header > h1 {
	-webkit-animation: bounceUp .6s ease-out both;
}

.panel:target ~ header .btn {
	-webkit-animation: bounceOutDown .6s ease-in both;
}

.panel:target ~ header #nav01 {
	-webkit-animation-delay: .2s;
}

.panel:target ~ header #nav02 {
	-webkit-animation-delay: .4s;
}

.panel:target ~ header #nav03 {
	-webkit-animation-delay: .6s;
}

.panel:target ~ header #nav04 {
	-webkit-animation-delay: .8s;
}

.content {
	position: absolute;
	top: 235px;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-left: -200px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
}

.content h2 {
	padding-top: 65px;
	color: #1D1716;
	font-family: "Droid Sans", sans-serif;
	font-size: 26px;
	text-align: center;
}

.content p,
.content ul {
	width: 330px;
	margin: 30px auto 0;
}

.content .home {
	margin-top: 40px;
	text-align: center;
}

.home a {
	padding: 8px 12px 8px 11px;
	border-radius: 15px;
	background: rgba(0,0,0,.75);
	color: #fff;
	font-family: "Droid Sans", sans-serif;
	font-size: 10px;
	text-decoration: none;
	-webkit-transition: all .2s ease-out;
}

.home a:hover {
	background: #ffcc00;
	color: #1D1716;
}

/* ---------------------------------------------------------------
	keyframes
--------------------------------------------------------------- */

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		z-index: 0;
		opacity: 0;
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0);
		opacity: .2;
	}
	50% {
		-webkit-transform: rotate(180deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(360deg);
		opacity: .2;
	}
}

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
	}
	80% {
		-webkit-transform: translateY(-10px);
	}
	100% {
		-webkit-transform: translateY(0);
	}
}

@-webkit-keyframes bounceInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateY(-30px);
	}
	80% {
		opacity: 1;
		-webkit-transform: translateY(10px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-webkit-keyframes bounceUp {
	0% {
		-webkit-transform: translateY(0);
	}
	20% {
		-webkit-transform: translateY(30px);
	}
	80% {
		-webkit-transform: translateY(-220px);
	}
	100% {
		-webkit-transform: translateY(-180px);
	}
}

@-webkit-keyframes bounceOutDown {
	0% {
		-webkit-transform: translateY(0);
	}
	30% {
		-webkit-transform: translateY(-20px);
	}
	90% {
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(2000px);
	}
}